<footer>
    <div class="footer-logo-div" >
        <div>
            <img src="/img/logo-1.png" alt="">
            <img src="/img/NEGlogotipo.png" alt="">
        </div>
        <p>Just a social network of films created with care for a class project.</p>
    </div>
    
    <div class="footer-social">
        <h3>follow us</h4>
        <div>
            <p>Nacho</p>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <p>Alex</p>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
        

    </div>

</footer>