<nav class=" navbar-expand-lg main-navbar">
  <div class="container-fluid nav-container">
    <div class="brand-menu d-flex">
        <a class="navbar-brand" href="/"><img class="navbar-img"  src="img/logo-1.png" alt=""></a>
        <a class="navbar-brand" href="/"><img class="navbar-img"  src="img/NEGlogotipo.png" alt=""></a>
          <ul class="navbar-nav navbar-navig">
            <li class="navitem">
              <a class="nav-link nav-active" aria-current="page" href="#">Home</a>
            </li>
            <li class="navitem ">
              <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="navitem dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accessibility
              </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <a class="nav-link" href="/lang/ES">Español</a>
            <a class="nav-link" href="/lang/EN">English</a>
          </ul>
    </div>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-container-menu" id="navbarSupportedContent">    
      <form class="d-flex search-form" role="search">
        <input class="text-inp-search" type="search" placeholder="Search" aria-label="Search">
        <button class="text-btn-search" type="submit">Search</button>
      </form>
      
        <div class="logindiv">
            <a href="#"><button class="login-btn">Log in</button></a>
            <a href="#"><button class="signin-btn">Sign in</button></a>
        </div>
    </div>
  </div>
</nav>