<div class="illu1-div d-flex flex-column">
   <img src="/img/Mesa de trabajo 1333@3x.png" class="illu2 illuSmall" alt="">
   <div class="speech speech-nothing">
      <h2>Seems like there is nothing around here</h2>
   </div>
</div>