* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #111;
    font-family: "Comfortaa", sans-serif;
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: "Comfortaa", sans-serif;
}

.hidden{
    display: none !important;
}

.image-list{
    align-content: center;
    align-items: c;
}

.uppercase-text{
    text-transform: uppercase;
}

.inter-container{
    display: flex;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 10px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    width: 98%;
    margin: auto;
    grid-template-columns: repeat(35, 1fr);
    height: 340px;
    margin-top: 0px;

}
.slider-wrapper{
    position: relative;
    margin: 10px;
    
}



.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    height: 300px;
    object-fit: cover;
    flex: 0 0 auto; /* Añade esta línea para ajustar el tamaño de las imágenes */
    transition: ease 0.2s;


}

.image-item:hover{
    transform: scale(1.1);
}

.newContainer {
    max-width: 98vw;
    margin: auto;
    width: 98%;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.316);
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    transform: translateY(-50%);

}

.next-slide-button{
    right: -5px !important;
}

.slider-wrapper .prev-slide-button#prev-slide{
    left: -5px;
}

/** NAVBAR */

.navbar-avt{
    width: 40px;
    padding: 5px 5px 0 5px;
    border-radius: 50%;
    height: 40px;
    margin-left: 20px;
}

.navbar-img {
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.main-navbar {
    background-color: #0d0d0db0; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; 
    z-index: 1000; 
    backdrop-filter: blur(10px);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

.nav-container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




.nav-container-menu button{
    height: 35px;
    border-radius: 0;
}
.navbar-navig{
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-tog {
    background-color: white;
}

.main-navbar a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    transition: background-position 0.3s ease;

}

.main-navbar a:hover{
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(105, 105, 105, 0.051) 50%, rgba(255, 255, 255, 0) 100%);
    color: #D94A4A;
}

.navActive{
    color: #D94A4A !important;
    font-weight: 700;
    text-decoration: none;
}

.nav-link:focus{
    color: #D94A4A !important; 
}

.logindiv {
    display: flex;
    flex-direction: row;
    margin: 0 30px 0 0 ;
   
}

.login-btn {
    background: none;
    box-shadow: none;
    border: 1px solid white;
    color: white;
    width: 120px;
    transition: background-color 0.2s ease;
    
}
.login-btn:hover {
    background-color: #D94A4A;
}

.signin-btn {
    background-color: #D94A4A;
    box-shadow: none;
    border: none;
    margin-left: 20px;
    color: white;
    width: 120px;
    transition: background-color 0.2s ease;
}

.signin-btn:hover {
    background-color: #8b2424;
}

.search-form input, .search-form button {
    box-shadow: none;
    border: none;
    background: none;
    outline: none;
    color: white;
    
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}




.text-btn-search {
    color: rgba(255, 255, 255, 0.701);
    width: 40px;
}

.search-form {
    border: .5px solid rgba(255, 255, 255, 0.754);
    display: flex;
    justify-content: space-between;
    padding: 1px 20px;
    margin-right: 20px;
    width: 300px;
}



.navitem {
    margin: 0 10px;
}

.profile-btn {
    margin-left: 50px;
}

.profile-btn i{
    margin-left: 25px;
    font-size: 23px;
}

.logout-btn i{
    margin: 0 25px;
    font-size: 23px;
}


/*  STARS INPUT  */

.stars-container {
    width: 180px;
    padding: 5px 3px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.stars-container .star-widget input{
    display: none;
}
.random-stars .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 18px;
    padding: 5px;
    float: right;
    transition: all 0.2s ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

/* trending section */

.trending{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(7, 7, 7) 0%, rgb(12, 12, 12) 35%, rgb(20, 20, 20) 100%);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.section-titles{
    font-size: 28px;
    color: white;
    margin: 25px 40px -20px 40px;
    font-weight: 700;
}

.img-container-works {
    position: relative;
    transition: transform 0.3s ease;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.691); 
    
    
    justify-content: flex-end;
    opacity: 0; 
    transition: opacity 0.3s ease;
    backdrop-filter: blur(2px);
  }

  .overlay-title{
    color: white;
    font-size: 16px;
    margin: 0 10px 0 30px
  }
  .overlay-genre {
    font-size: 14px;
    color: rgb(175, 175, 175);
    margin: 0 12px 0 30px
  }

  .overlay i{
    color: white;
    font-size: 15px;
    font-weight: 900;
  }
  
  .img-container:hover {
    transform: scale(1.1); 
  }

  .img-container-works:hover {
    transform: scale(1.1); 
  }
  
  .overlay:hover {
    opacity: 1; 
  }


/*  RANDOM SECTION */



.random-movie{
    background-image: url(/img/jeff-pierre-5X5I20O_Vbg-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
}

.random-container {
    width: 95%;
    height: 100%;
    background-color: #151515b1; 
    backdrop-filter: blur(10px);
    position: relative;
    margin-bottom: 30px;
    overflow: auto;
    padding-bottom: 30px;
}



.random-container h2{
    color: white;
    text-align: center;
    margin: 50px 0;
}

.filters-div {
    width: 25%;
    margin-left: 70px;
}

.form-genre {
    background: none;
    color: white;
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff
}


select option {
    background-color: rgb(25, 25, 25); 
    color: #fff; 
}

select option:checked {
    background-color: #333; 
}

select option:hover {
    background-color: #555; 
}

.filters-p {
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    border-bottom: 0.5px solid white;
    width: 180px;
    margin-top: 20px;
}

.randomform-btn {
    background-color: #D94A4A;
    box-shadow: none;
    border: none;
    margin-left: 20px;
    color: white;
    width: 120px;
    height: 40px;
    transition: background-color ease 0.2s;
}

.randomform-btn:hover {
    background-color: #8b2424;
}
.viewall-btn {
    position: absolute;
    bottom: 130px;
    right: 60px;
    margin-left: 30px;
}


.viewall-btn a{
    text-decoration: none;
    color: white;
}

.random-btn {
    position: absolute;
    bottom: 70px;
    right: 60px;
    margin-left: 30px;
}

.movie-info-container{
    width: 100%;
    margin-right: 20px;
    height: 410px;
    border-left: 1px solid rgba(255, 255, 255, 0.537);
    border-right: 1px solid rgba(255, 255, 255, 0.508);
    position: relative;
    padding: 20px;
    min-height: 500px;
}


.range-input{
    -webkit-appearance: none;
    appearance: none;
    background: transparent; 
    outline: none;
  }

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px; 
    background: white; 
    border: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: white; /* Color del círculo */
    border-radius: 50%; /* Hace que el círculo sea redondeado */
    border: 1px solid white; /* Borde blanco alrededor del círculo */
    margin-top: -10px;
  }

  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* Efecto de sombra al enfocar el círculo */
  }

  .movie-info-container img{
    margin: 10px 30px;
  }

  .info-txt{
    color: white;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .info-p{
    color: rgb(128, 128, 128);
    margin-left: 5px;
    margin-right: 5px;
    max-width: 140px;
    white-space: nowrap;
    margin-bottom: 0;
  }

  



  .movie-info-container h1{
    color: white;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .rate-container {
    margin-right: 30px;
    width: 230px;
    height: 80px;
    justify-content: center;
    align-items: center;
   
  }

  .info-average{
    font-size: 16px;
    margin-bottom: 0;
    color: rgb(128, 128, 128);
    text-align: center;
  }

  .info-votes{
    font-size: 16px;
    margin-bottom: 0;
    color: rgb(128, 128, 128);
    text-align: right;
  }

  .rate-container p{
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  .rate-container span{
    color: rgb(135, 135, 135);
  }


  .random-stars{
    background-color: none;
    margin-bottom: 10px;
    width: 180px;
    padding: 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}



.random-stars input:not(:checked) ~ label:hover,
.random-stars input:not(:checked) ~ label:hover ~ label {
    color: rgb(255, 68, 68);
}

.random-stars input:checked ~ label{
    color: #fd4;
}

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
	width: 38px;
	height: 38px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}
.click button{
    border: none;
    outline: none;
    background: none;
}

.click span:hover {
	opacity: 0.8;
    color: #D94A4A;
}

.click span:active {
    color: #D94A4A;
	transform: scale(0.93,0.93) translateY(2px)
}



/* lang dropdown */

.dropdown-menu {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    min-width: 5rem !important;
  }


  
  .dropdown-menu a {
    color: #000000; 
    font-size: 16px; 
    display: block; 
    text-decoration: none; 
  }
  

  .dropdown-menu p {
    font-size: 16px; 
    margin-bottom: 4px;
    margin-top: -3px;
  }
    .dropdown-toggle {
        margin-right: 10px;
        margin-bottom: -1px;
    }

    .dropdown-toggle i{
        font-size: 20px;
    }

    .flag-btn {
        width: 26.66px;
        height: 20px;
        margin: 0 10px 2px 0;
    }

  .dropdown-menu img {
    margin-left: 5px;
  }


  .signup-section {
   background-image: url(../img/blurlightlogin.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.signup-container {
    width: 450px;
    height: 750px;
    background-color: #2b2b2bd1;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 4px solid #D94A4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.signup-container p {
    color: white;
}

.signup-container h2 {
    color: white;
    font-weight: 700;
    margin-top: 30px;
}

.signup-container label {
    color: white;
    font-size: 14px;
}

.rounded-btn{
    border-radius: 20px;
    width: 250px !important;
}

.create-acc a{
    color: white ;
    font-weight: 700;
}

.kitten-img {
    background-color: #D94A4A;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    margin: 20px;

}
.kitten-img img{
    width: 85%;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.recharge-btn{
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: white;
    color:#D94A4A ;
    transition: transform ease 1s;
}

.recharge-btn:hover{
    transform: rotate(380deg)
}

.signup-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-container .signin-btn{
    height: 40px;
    width: 50%;
    margin: 20px;
}

.signin-inp label {
    margin-right: 10px;
}

.signin-inp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
.inp-icon {
    position: relative;
    left: 30px;
    margin: 0;
    color: #717171;
}

.all-signin-inp{
    margin-left: -20px;
}

  .signin-inp input {
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 15px;
    padding-left: 40px;
    transition: background-color ease 0.2s;
    box-shadow: -2px 29px 12px -21px rgba(0, 0, 0, 0.694);

  }

  .signin-inp input:hover{
    background-color: #e1e1e1;
  }


/** AVATAR COLOR */

.color-btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    height: 25px;
    width: 25px;
  }

  .color-btn:hover{
    box-sizing: border-box;
    border: 3px solid white;
  }

  .green-btn {
    background-color: #B5F587;
    color: white;
  }

  .yellow-btn {
    background-color: #F2F080;
    color: white;
  }

  .pink-btn {
    background-color: #F09294;
    color: white;
  }

  .blue-btn {
    background-color: #90CBF0;
    color: white;
  }

  .purple-btn {
    background-color: #D2A4DB;
    color: white;
  }

  .color-btn-div {
    margin: 10px 0 30px 0;
  }
  
  .required-label::after {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    content: " *";
    color: red;
    font-size: 20px;
}

/* DANGER ZONE */

.speech {
    /* (A1) FONT & COLORS */
    font-size: 16px;
    color: #fff ;
    background: #D94A4A ;
  
    /* (A2) DIMENSIONS */
    padding: 20px;
    border-radius: 10px;
  }
  
  /* (B) USE ::AFTER TO CREATE THE "CALLOUT" */
  .speech::after {
    display: block; width: 0; content: "";
    border: 15px solid transparent;
  }
   
  .speech.left::after {
    border-right-color:#D94A4A;
    border-left: 0;
  }
  
  /**************** POSITION *************/
  .speech-login{ 
    position: absolute;
    top: 50px;
    left: 96%;
    width: 100%;
    max-width: 350px;
  }

.speech-home{
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 300px;
}

  .speech::after { position: absolute; }
  
  .speech.left::after {
    left: -15px; top: calc(50% - 15px);
  }
  
  .login-titles h2{
    text-align: center;
    font-size: 78px;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .login-titles h3{
    text-align: center;
    font-size: 22px;
    color: white;
    margin-top: 0px;
    font-weight: 400;
  }

  .login-section {
    background-image: url(../img/blurlightlogin.jpg);
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100vh;
     position: relative;
 }

 .login-section .signup-container{
    height: 600px;
 }

 .login-section form{
    margin-top: 70px;
 }

 .login-section form .signin-btn{
    margin-top: 70px;
 }

 .invalid-inp{
    border: 2px solid #D94A4A;
 }

 .red-alert{
    color: #D94A4A;
 }

.catalog-main{
    display: flex;
}

 .movies-filters{
    width: 15%;
    background-color: #151515;
    min-height: 100vh;
 }

 .movies-catalog{
    width: 85%;
    height: 100%;
    min-height: 100vh;
    background-color: #121212;
    padding-top: 100px;
    padding-left: 30px;
    margin-bottom: 100px;
 }

 .movies-catalog h2{
    color: white;
    font-weight: 700;
    margin-bottom: -20px;
    margin-left: 20px;
 }

 .movies-filters form{
    margin-top: 100px;
    margin-left: 47px;
 }

 .illu1 {
    margin: auto;
    width: 50%;
 }

 .illu1-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .illu2 {
    margin: 0;
    width: 30%;
 }

 .speech-nothing {
    background-color: #D94A4A;
    margin-top: 20px;
    margin-right: 70px;
 }

 .speech-nothing h2{
    color: white;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    
 }

 #rangeValue{
    white-space: nowrap;
 }

.page-results{
    position: relative;
}

.page-results img{
    width: 200px;
}

.catalog-page{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}